<div class="app-layout" [class.sidebar-collapsed]="isSidebarCollapsed" [class.dashboard-view]="currentRoute === 'dashboard'">
  <app-sidebar (collapsedChange)="onSidebarCollapsedChange($event)"></app-sidebar>

  <app-header
    [hasSelection]="hasSelectedItems"
    (search)="onSearch($event)">
  </app-header>

  @if(currentRoute !== 'dashboard') {
    <app-breadcrumb
      [breadcrumbs]="breadcrumbs"
      (navigate)="onNavigate($event)">
    </app-breadcrumb>
  }

<div class="main-content" 
     [class.dashboard-content]="currentRoute === 'dashboard'"
     [class.center-content]="isWipRoute">
  <router-outlet></router-outlet>
</div>
  
  @if (isDownloading) {
      <app-download-progress></app-download-progress>
  }
</div>
