<div class="app-layout">
  <app-sidebar (navigationClick)="onSidebarNavigation($event)"></app-sidebar>
  
  <app-header
    [breadcrumbs]="breadcrumbs"
    [hasSelection]="hasSelectedItems"
    [selectedCount]="selectedItems.length"
    (uploadFiles)="onUploadFiles()"
    (createFolder)="onCreateFolder()"
    (search)="onSearch($event)"
    (viewModeChange)="onViewModeChange($event)"
    (downloadSelected)="onDownloadSelected()"
    (deleteSelected)="onDeleteSelected()"
    (breadcrumbClick)="onNavigate($event)">
  </app-header>

  <div class="main-content"
       appDragDrop
       (filesDropped)="onFilesDropped($event)"
       (fileOverChange)="onFileOverChange($event)">
    @if(!loading) {
        @if(items.length === 0) {
            <div class="empty-state">
                <div class="empty-content">
                    <mat-icon class="empty-icon">folder_open</mat-icon>
                    <h3>This folder is empty</h3>
                    <p>Drop files here or create a new folder to get started</p>
                </div>
            </div>
        }
        @if(viewMode === 'grid' && items.length > 0) {
            <app-file-grid
                    [items]="items"
                    [fileOver]="fileOver"
                    (itemClick)="onItemClick($event)"
                    (itemDoubleClick)="onItemDoubleClick($event)"
                    (selectionChange)="onSelectionChange($event)"
                    (rename)="onRenameItem($event)"
                    (download)="onDownloadItem($event)"
                    (move)="onMoveItem($event)"
                    (copy)="onCopyItem($event)"
                    (delete)="onDeleteItem($event)">
            </app-file-grid>
        }
        @if(viewMode === 'list' && items.length > 0) {
            <app-file-list
                    [items]="items"
                    [fileOver]="fileOver"
                    (itemClick)="onItemClick($event)"
                    (itemDoubleClick)="onItemDoubleClick($event)"
                    (selectionChange)="onSelectionChange($event)"
                    (selectAll)="onSelectAll($event)"
                    (rename)="onRenameItem($event)"
                    (download)="onDownloadItem($event)"
                    (move)="onMoveItem($event)"
                    (copy)="onCopyItem($event)"
                    (delete)="onDeleteItem($event)">
            </app-file-list>
        }
    }
    @else {
        <div class="loading-container">
            <mat-spinner></mat-spinner>
            <p>Loading...</p>
        </div>
    }
  </div>
    @if (isDownloading) {
        <app-download-progress></app-download-progress>
    }
  <mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="[5, 10, 25, 50, 75, 100]"
    (page)="onPageChange($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
