<div class="file-grid-container">
    <div class="file-grid">
        @for(item of items; track item.id) {
            <div
                class="file-item"
                [class.selected]="item.selected"
                (click)="onItemClick(item)"
                (dblclick)="onItemDoubleClick(item)"
                (contextmenu)="onContextMenu($event, item)">

                <div class="file-header">
                    <mat-checkbox
                            [checked]="item.selected"
                            (click)="$event.stopPropagation()"
                            (change)="onSelectionChange(item, $event.checked)">
                    </mat-checkbox>
                    @if(showFavoriteButton) {
                        <button
                            mat-icon-button
                            class="favorite-btn"
                            (click)="onToggleFavorite($event, item)"
                            [title]="item.favorite ? 'Remove from favorites' : 'Add to favorites'">
                            <mat-icon [class.favorited]="item.favorite">
                                {{ item.favorite ? 'favorite' : 'favorite_border' }}
                            </mat-icon>
                        </button>
                    }
                </div>

                <div class="file-content">
                    <div class="file-icon">
                        <mat-icon [class]="'file-type-' + item.type.toLowerCase()">
                            {{ getFileIcon(item.name, item.type) }}
                        </mat-icon>
                    </div>

                    <div class="file-name" [title]="item.name">
                        {{ item.name }}
                    </div>
                </div>

                <div class="file-actions">
                    <button mat-icon-button
                            (click)="onViewProperties(item); $event.stopPropagation()"
                            matTooltip="View Properties"
                            aria-label="View properties">
                        <mat-icon>info</mat-icon>
                    </button>
                </div>
            </div>
        }
    </div>
    <div class="dropzone-overlay" [class.file-over]="fileOver">
        <div class="dropzone-message">
            <mat-icon>cloud_upload</mat-icon>
            <p>Drop files here to upload</p>
        </div>
    </div>
    
</div>
